footer{
    margin-top: auto;
    height: 10vh;
}
.video{
    height: 70vh;
    margin: 0px auto;
    background: rgba(0, 0, 0, 0.644);
    
}
.voperations{
    text-transform: capitalize;
    padding: 8px 50px;
    background: rgba(0, 0, 0, 0.644);
    margin: 0px;
    color: white;
    font-size: 20px;
    transition: all 300ms;
}
.voperations:hover{
    color: white;
    background: rgba(0, 0, 0, 0.5);
}